.main {
    background-color: #d9d9d9;
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
}

.container {
    background-color: #fefefe;
    border-radius: 0.3275rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    width: 100%;
}
