.form {
    margin-top: 2rem;
    width: 100%;
}

.form fieldset {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form label,
.form label input {
    width: 100%;
}

.form legend {
    border-bottom: 1px solid #666666;
    margin-bottom: 0.5rem;
    width: 100%;
}

.form label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form label input {
    padding: 0.5rem 0.75rem;
    background-color: #bbbbbb;
    border-radius: 8px;
    border: none;
}

.form button {
    max-width: 150px;
    margin-left: auto;
}
